In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

%matplotlib inline

In [29]:
movies = pd.read_csv('C:/Users/allan/src/projects/clustering/top_rated_movies.csv', engine='python')

In [31]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9630 entries, 0 to 9629
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9630 non-null   int64
 1   title              9630 non-null   object
 2   original_language  9630 non-null   object
 3   release_date       9630 non-null   object
 4   vote_average       9630 non-null   float64
 5   vote_count         9630 non-null   int64
 6   popularity         9630 non-null   float64
 7   overview           9630 non-null   object
 8   genre_ids          9630 non-null   object
 9   Genres             9630 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 752.5+ KB

In [41]:
movies_df = pd.DataFrame(movies)
movies_df = movies_df.drop(columns=['overview', 'genre_ids'])
movies_df.head()

,id,title,original_language,release_date,vote_average,vote_count,popularity,Genres
0,278,The Shawshank Redemption,en,1994-09-23,8.706,26840,150.307,"['Drama', 'Crime']"
1,238,The Godfather,en,1972-03-14,8.690,20373,122.973,"['Drama', 'Crime']"
2,240,The Godfather Part II,en,1974-12-20,8.575,12291,94.204,"['Drama', 'Crime']"
3,424,Schindler's List,en,1993-12-15,8.565,15695,74.615,"['Drama', 'History', 'War']"
4,389,12 Angry Men,en,1957-04-10,8.546,8522,54.678,['Drama']